@page "/"


    <div class="jumbotron">
        <h1 class="display-4">NetConf2019 MicroservicesGeneratingChaos</h1>
        <p class="lead">
            Failures are unavoidable, even on a stronger platform with concrete operations infrastructure, it may face production interruptions.

            There is no simple reason why a system fails, and it is not easy to fix it immediately if you don't know why. Even if all services work correctly, interactions between them can produce unexpected behaviors.

            In this session we will show a real case of a microservice environment where we will reproduce unexpected behaviors to improve our resilience to withstand extreme production conditions.
        </p>
        <hr class="my-4">
        <p>Oscar Vaquero - IOT service Lead at Erni ( <a href="https://github.com/Rabosa616">Github</a> / <a href="https://twitter.com/otempura" rel="nofollow">Twitter</a>)</p>
        <p>Miguel Molina - Senior Full stack developer at Erni( <a href="https://github.com/Molidestroyer">Github</a> / <a href="https://twitter.com/molidestroyer" rel="nofollow">Twitter</a>)</p>
    </div>


